{% extends 'console/base.html' %}

{% block content %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <script type="text/javascript">
                var data = {{data}};
                var loc;
                for(loc of data){

                }
            </script>
            <div id="floating-panel">
                <button onclick="toggleHeatmap()">Toggle Heatmap</button>
                <button onclick="changeRadius()">Change radius</button>
            </div>

            <div id="map" style="height: 650px;"> </div>

            <script>

              var map, heatmap;

              function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 14,
                  center: { lat: {{c_lat}}, lng: {{c_lng}} },
                  mapTypeId: 'hybrid'
                });

                heatmap = new google.maps.visualization.HeatmapLayer({
                  data: getPoints(),
                  map: map
                });
              }

              function toggleHeatmap() {
                heatmap.setMap(heatmap.getMap() ? null : map);
              }

              function changeRadius() {
                heatmap.set('radius', heatmap.get('radius') ? null : 20);
              }

              function getPoints() {
                var data = {{data}};
                var loc;
                var data_points = []
                for(loc of data){
                    data_points.push(new google.maps.LatLng(loc[0], loc[1]));
                }
                document.getElementById("output").innerHTML = data_points.length
                return data_points;
              }
            </script>

            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&libraries=visualization&callback=initMap">
            </script>
        </section>
        <p id="output"></p>
    </section>
    <!--main content end-->
{% endblock %}